.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

h2 {
  margin-bottom: 0;
}

.form-wrapper {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5%;
  padding-top: 0%;
  width: 50%;
  max-width: 700px;
  margin-left: auto;
}

.personal-info-form, .work-form-wrapper, .edu-form-wrapper, .work-form, .education-form {
  display: flex;
  flex-direction: column;
}

.work-form, .education-form {
  margin-bottom: 5%;
}

.date-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.date-picker {
  width: 45%;
  flex: 1;
}

.delete-btn {
  width: 50%;
}

/*============================================================*/

.preview {
  position: sticky;
  top: 0;
  border: 1px solid red;
  width: 50%;
  max-width: 700px;
  margin-right: auto;
  height: 100vh;
}